@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
:root {
  --primaryColor: #76c1e4;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainGrey-2: #545151;
  --mainBlack: rgb(0, 0, 0);
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --color-primary: #F2F2F2;
  --color-grey: #454545;
  --color-black-light: #181818;
  --color-grey-light-1: #f0eeee;
  --color-grey-light-2: #ccc;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--color-grey-light-2);
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: var(--mainWhite);
  font-family: 'Roboto', sans-serif;
  /*   font-family: "Lato", sans-serif; */
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-black-light);
}

/*--------------------Heading-------------------*/

#title {
  font-weight: 400;
  font-family: sans-serif;
  font-size: 1.4rem;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
}

/* --------------- Navbar ---------------- */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #f0ecece3;
  z-index: 1;
}

.navbar-center {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.nav-icon {
  font-size: 3rem;
}

.cart-btn1 {
  display: flex;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: -3px;
  right: -3px;
  background: rgb(55, 53, 53);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}

.logo {
  width: 30rem;
  height: 6rem;
  margin-top: 20px;
  /* margin-top: 50px;
  margin-left: 20px; */
}

/* --------------- Hamburger -menu ---------------- */

.menu-open {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 40px;
  height: 20px;
  background-color: rgba(255, 0, 0, 0);
}

.menu-open span {
  display: flex;
  width: 40px;
  height: 4px;
  background-color: black;
  margin-top: 3px;
}

.nav {
  position: fixed;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  border-right: 1px solid black;
  transition: all .5s;
  z-index: 8000;
}

.nav.active {
  position: fixed;
  top: 0;
  left: 0%;
  width: 50%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  border-right: 1px solid rgb(255, 251, 251);
  transition: all .5s;
  z-index: 8000;
}

.nav ul {
  position: absolute;
  top: 40%;
  right: 20%;
  transform: translateY(-50%);
  width: 80%;
  text-align: center;
  padding: 3rem;
}

/*---------------------------------------------------------*/

.nav .nav-horizontal {
  position: absolute;
  top: 4%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  padding: 1rem 3rem;
  cursor: pointer;
}

.nav .nav-horizontal li a {
  color: #fff;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.8rem;
  background-color: rgb(0, 0, 0);
  font-weight: 700;
  font-family: 'Roboto';
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.2s;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.nav .nav-horizontal li a:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}

.nav .nav-bottom {
  position: absolute;
  top: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 3rem;
  cursor: pointer;
}

.nav .nav-bottom {
  position: absolute;
  top: 95%;
  right: 1%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  padding: 3rem;
}

.nav .nav-bottom li a {
  color: #fff;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.6rem;
  background-color: rgb(0, 0, 0);
  font-weight: 500;
  font-family: 'Roboto';
  letter-spacing: 2px;
  cursor: pointer;
}

/*---------------------------------------------------------*/

.nav ul li {
  margin-top: 3rem;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: inherit;
  font-size: 4.8rem;
  background-color: rgb(0, 0, 0);
  font-weight: 600;
  font-family: 'Roboto';
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
}

/* .nav ul li a:hover {
  color: rgba(129, 119, 96, 0.568);
} */

.menu-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 18px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.menu-close span {
  display: flex;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
}

.menu-close :nth-child(1) {
  position: absolute;
  left: -2px;
  top: 7px;
  transform: rotate(45deg);
}

.menu-close :nth-child(2) {
  position: absolute;
  left: -2px;
  top: 7px;
  transform: rotate(135deg);
}

.logo-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -0%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------- End of Navbar ---------------- */

/* --------------- Hero ---------------- */

.hero {
  min-height: calc(100vh - 60px);
  background: url('/images/img/18.jpg') center/cover no-repeat;
  display: flex;
  /*  align-items: center; */
  justify-content: center;
  padding: 4rem;
}

.banner {
  text-align: center;
  /* background: rgba(255, 255, 255, 0.235); */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
}

.banner-title {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}

.banner-btn {
  padding: 1.5rem 8rem;
  font-size: 1.6rem;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2rem;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 1.4rem;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, .1);
  transition: var(--mainTransition);
}

.banner-btn:focus {
  outline: none;
}

.banner-btn:hover {
  background: rgba(221, 221, 221, 0);
  color: #fff;
}

.banner-btn1 {
  padding: 1.5rem 8rem;
  font-size: 1.6rem;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2rem;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 1.4rem;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, .1);
  transition: var(--mainTransition);
}

/* --------------- End of Hero ---------------- */

/* --------------- Products ---------------- */

.products {
  padding: 4rem 0;
}

.section-title h2 {
  font-size: 5.5vw;
  line-height: 2;
  font-family: Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 5px;
  margin-bottom: 5rem;
  text-transform: uppercase;
  white-space: pre-wrap;
}

.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 144rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}

.bag-btn:hover {
  color: var(--mainWhite);
}

.fa-shopping-cart {
  margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
  transform: translateX(0);
}

.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}

.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  font-family: sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.6rem;
  margin-top: 1rem;
  color: rgb(0, 0, 0);
  text-align: center;
  letter-spacing: 2px;
}

.product h4 {
  font-family: sans-serif;
  margin-top: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.6rem;
}

/* ---------------End of Products ---------------- */

/* --------------- Cart ---------------- */

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: #070707e6;
  z-index: 9000;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 9997;
  background: rgb(255, 255, 255);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}

.showCart {
  transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
}

.cart-total {
  font-size: 2.4rem;
  font-weight: 600;
}

/*---------- Cart Item -------------------- */

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 75px;
  height: 75px;
}

.cart-item h4 {
  font-size: 1.4rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
  font-size: 1.4rem;
}

.item-amount {
  text-align: center;
  font-size: 1.4rem;
}

.remove-item {
  color: rgb(17, 17, 17);
  cursor: pointer;
  font-size: 1.4rem;
}

.fa-chevron-up, .fa-chevron-down {
  color: var(--mainGrey-2);
  cursor: pointer;
  font-size: 1.4rem;
}

/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */

a {
  list-style: none;
  text-decoration: none;
}

.urban {
  background-color: var(--color-primary);
  background-image: url(/images/img/15.jpg);
  min-height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  display: flex;
}

.urban .image-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.title-wrap-2, .title-wrap-3, .title-wrap-4 {
  /*   display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 3rem; */
  flex-direction: column;
  cursor: pointer;
}

.title-2, .title-3, .title-4 {
  padding: 10px;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 1.8rem;
  letter-spacing: 4px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
}

.urban .title-2 {
  color: rgb(255, 255, 255);
}

.subtitle, .subtitle-2 {
  padding: 5px;
  font-weight: 300;
  font-family: sans-serif;
  font-size: 1.4rem;
  letter-spacing: 4px;
  color: rgb(40, 38, 38);
  text-transform: uppercase;
  box-shadow: var(--shadow-light);
}

/******************************** INTER-SESSION-2/3 👇*******************************/

/******************************** SHARING COMMON STUFFS******************************/

.image-2, .image-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 50%;
  width: 100%;
  grid-row: 2 / span 4;
  grid-column: 3 / span 2;
  min-height: 80vh;
}

/******************************** SESSION-3 👇*******************************/

.factor {
  background-color: var(--color-primary);
  background-image: url(/images/img/7.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .factor {
    flex-direction: column;
    justify-content: center;
  }
}

.factor-title {
  flex: 1;
}

.image-3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 2rem;
}

.factor-txt {
  font-family: sans-serif;
  letter-spacing: 4px;
  line-height: 2;
  font-weight: 400;
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 5rem;
}

.title-3, .title-4 {
  padding: 20px;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 1.6rem;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  justify-content: space-around;
  align-items: center;
}

.image-3 .title-3 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.subtitle-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  font-weight: 300;
  font-family: sans-serif;
  font-size: 10px;
  letter-spacing: .5px;
  color: #fff;
  text-transform: uppercase;
  box-shadow: var(--shadow-light);
  cursor: pointer;
  padding: 5px;
}

/******************************** SESSION-3 👇*******************************/

.appointment {
  background-color: var(--color-primary);
  background-image: url(/images/img/17.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: var(--color-primary);
  transition: all .2s;
}

button:focus {
  outline: none;
}

button:hover, button:active {
  background-color: black;
}

.btn {
  padding: 1rem 4rem;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  color: rgb(255, 255, 255);
}

/******************************** SESSION-4 👇*******************************/

.store {
  background-color: var(--color-primary);
  background-image: url(/images/img/12.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.image-4 {
  display: flex;
  justify-content: center;
  padding: 8rem;
}

.title-wrap-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

/******************************** FOOTER👇*******************************/

footer {
  background-color: var(--color-primary);
  max-width: 144rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

@media only screen and (max-width: 64em) {
  footer {
    flex-direction: column;
    height: 30vh;
  }
}

.copy, .footer-links, .footer-icons, .footer-nav-icons {
  display: flex;
  flex-wrap: wrap;
}

.footer-nav {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
}

.footer-links {
  flex: 2;
  justify-content: center;
  align-items: center;
  list-style: none;
  justify-content: space-around;
  margin: 0;
}

.footer-link {
  font-size: 1.2rem;
  letter-spacing: .5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: 300;
  font-family: sans-serif;
  align-items: center;
}

.footer-icons {
  flex: 1;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.copy {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 200;
  font-family: sans-serif;
  color: rgb(32, 31, 31);
  font-size: 1.1rem;
  letter-spacing: .5px;
}

.search, .search-icon, .nav-link {
  display: flex;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin: 10px;
  fill: rgb(26, 23, 23);
  cursor: pointer;
}